  <!-- Modal Website Content -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-globe">&nbsp;</i>Website Content</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <p>I'm capable of researching various topics and pulling together coherent, informational articles for any audience or demographic. Examples:</p>
            <ul>
              <li><a href="#">10 Steps to Start a Business</a></li>
              <li><a href="#">How to money as a Senior Citizen</a></li>
              <li><a href="#">How to pick out Symbals for a Drum Kit</a></li>
              <li><a href="#">Best 3D Pens Comparison / Review</a></li>
            </ul>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.Modal Website Content -->